
body {
    font-family: 'Cutive Mono', monospace;
    color: rgb(41, 225, 65);
    margin: 0;
    width:100%;
    height: 100%;
    /* background-color: black; */
    background-image: url('../css/matrixgif.gif');
    background-size: cover;
    opacity: 0.7;

}


.container {
    margin-top: 70px;
    box-sizing: border-box;
    min-height: 400px;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    box-shadow: 0 0 5px 5px rgb(41, 225, 65);
    background-color: black;
    
}

.add-contact h1 {
    color: rgb(41, 225, 65);
    text-align: center;
    font-weight: 100;
    width: 220px;
    animation: morphText 5s infinite;
    
}


.add-contact {
    text-align: center;
    border-radius: 10px;
    background-color: black;
    height: 150px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.contacts {
    width: 420px;
}

#text {
    overflow: hidden;
    white-space: nowrap;
    animation: writeText 5s steps(40) infinite;
}

#contact-input-form input {
    margin-left: -5px;
    border-radius: 5px;
    border: 3px solid rgb(41, 225, 65);
    font-family: 'Cutive Mono', monospace;
    margin-bottom: 5px;
    background-color: black;
    color: greenyellow;
}

 #contactList {
    background-color: black;
    border-radius: 10px;

 }
#contactList li{
    
    text-align: center;
    border-radius: 10px;
    width: 420px;
    list-style-type:circle;
}

#contactList input:read-only {
    color: rgb(41, 225, 65);
    font-weight: bold;
    border: 0;
    font-family: 'Cutive Mono', monospace;
    background:none;
}

#contactList input{
    background-color: black;
    color: greenyellow;
    border: 0;
    border-radius: 5px;
    border: 3px solid rgb(41, 225, 65);
    font-family: 'Cutive Mono', monospace;
}

::placeholder {
    color: greenyellow;
    opacity: 0.6;
}

button {
    border-radius: 5px;
    border: 3px solid rgb(41, 225, 65);
    font-family: 'Cutive Mono', monospace;
    cursor: pointer;
}

button:hover {
    transform: scale(1.1);
}

#removeAllBtn, #createButton {
    color: rgb(9, 231, 9);
    font-weight: bold;
    background-color: black;
}

#createButton {
    font-size: 15px;
}

#removeAllBtn {
    margin-bottom: 5px;
}

[id^=updateBtn], #removeBtn {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: relative;
    top: 5px;
    left: 5px;
}

#validation-msg {
    color: red;
    font-family: 'Rubik Mono One', monospace;
    font-size: 10px;
    text-align: center;
    background-color: black;
}

ul {
    color: rgb(41, 225, 65);
}

[id^=inputPhone], [id^=inputName]  {
    width: 130px;
}

footer {

    text-align: center;
    color: rgb(41, 225, 65);
    background-color: black;
    border-radius: 10px;
    margin-bottom: 10px;
    width: auto;
}

footer p {
    margin:0;
}

footer img {
    width: 95px;
    cursor: pointer;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
  
  #img:hover {
    animation: shake 0.7s infinite;
  }


@keyframes morphText {
    0% {
        transform: scale(0.4);
    }
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(0.4);
    }
}

@keyframes writeText {
    from {
        width: 0;
        margin: 0 auto;
        text-align: center;
    }
    to {
        width: 100%;
        margin: 0 auto;
    }
}


@media  (max-width: 768px) {

    button:hover {
        transform:none;
    }
    
}